*{margin: 0;padding: 0}
.top {
    height: 68px;
    line-height: 68px;
    width: auto;
background: #19BEBE url("../images/logo.png") no-repeat center;
}
a{
    text-decoration: none;
    color: #333;
}
.head .nav img{
    position: absolute;
    left: -28px;
    top: 12px;
}
.nav{   
    font-size: 14px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    background-color:#F0F0F0;
    overflow: hidden;
}
.nav-left{
    position: relative;  
    float: left;
    margin-left: 211px;
}
.nav-conter{
   float: left;
    margin-left:210px;
    font-size:18px;
}
.nav-conter a{
    margin-left: 26px;
    margin-right: 20px;
}
.nav-right{
    position: relative;
    float: right;
    margin-right: 183px;
}
/* 中间内容部分 */
.content{
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.content-left{
    width:180px;
    height:884px;
    background: #F0F0F0;
    margin-top: 25px;  
    border: 1px solid rgb(236, 232, 232);
  
}
.content ul{
    list-style: none;
}
.content-left-first{
    
    box-sizing: border-box;
    height: 71px;
    line-height: 50px;
    padding-left: 38px  ;
    padding-top:12px; 
   border:1px solid rgb(184, 181, 181) ;
}
.content-left-first a{
    color: #19BEBE;
}
.content-left-second{
    padding-left: 8px;
    width:180px;
    height:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.content-left ul{
   line-height: 30px;
   margin-top:10px ;
   margin-bottom: 10px;
   margin-left:40px;
}
.content-left-second .one{
    margin-left: -19px;
}
.content .kuangjia{
    width: 803px;
    height: 148px;
    border: 1px solid rgb(212, 200, 200);
}
.content-right{
    float: right;
    width: 805px;
    height: 1000px;
    margin-top: -884px;
    background: #F0F0F0;
    overflow: hidden;
    
}


.content-right .yonghuming{
   float: left;
    width: 300px;
    height: 145;
    margin-top: 20px;
    margin-left: 35px; 
    position: relative;  
}
.content-right .yonghuming ul{
    position: absolute;
     top: 0px;
     left: 117px;
}
.content-right .yonghuming .one{
    font-size: 21px;
    margin-top: 10px;
    margin-bottom:20px; 
}
.content-right .xian{
    width: 1px;
    height: 111px;
    background: rgb(212, 200, 200);
    float: left;
    margin-top: 20px;
    margin-left: -9px;
}
.content-right .denglu{
    width: 405px;
    height: auto;
    float: right;
    position: relative;
}
.content-right .denglu .wechat{
    width: 190px;
    height: 74px;
    position: absolute;
    left: -35px;
    top: 50px;
}
.content-right .denglu .phone{
    width:215px ;
    height:74px;
    position: absolute;
    top: 49px;
    left: 175px;
}
.content-right .denglu ul{
    position: absolute;
    top: 0px;
    left: 50px;
}
.content-right .denglu a{
    color: #19BEBE;
}
.footer{
    font-size: 10px;
    margin-top: 264px;
    height: 262px;
    width: auto;
    background:#505050;
    color: #fff;
    overflow:hidden;
}
.footer-first{
    height: 200px;
    width: auto;
    overflow: hidden;
}
.footer  ul{ 
    list-style: none;
}
.footer .footer-first .conter a{
    color: #fff;
}
.footer .footer-first .left{
    width: 300px;
    height: 200px;
    line-height: 25px;
    float: left;
    margin-left: 200px;
    margin-top: 20px;
}
.footer .footer-first .conter{
    float: left;
   width: 400px;
   height: 200px;
   margin-left: 13px; 
   margin-top: 74px; 
    line-height: 30px;
}
.footer .footer-first .conter a{
    margin-left:83px ;
}
.footer .footer-first .right{
    line-height: 30px;
    float :right;
    margin-top: 65px;
    margin-right: 200px;
}
.footer .footer-last{
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}
.footer-last {
   line-height: 50px;
  position: relative;
  
}
.footer-last .right{
    position: absolute;
    margin-left: 468px;
}


